@media (max-width: 399px){
    body{
        min-width: 400px;
    }
}

/* headerここから */
.header {
    position:fixed;
    top: 0;
    left:0;
    background-color: #ffffee;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }

.logo{
    height: auto;
    width: 200px;
    padding: 10px;
}

.logo img{
    height: auto;
    width: 100%;
}

  .hamburger-menu {
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background: transparent;
    appearance: none;
    padding: 0;
    cursor: pointer;
  }
  .hamburger-menu__bar {
    display: inline-block;
    width: 44%;
    height: 2px;
    background: goldenrod;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
  }
  .hamburger-menu__bar:first-child {
    top: 16px;
  }
  .hamburger-menu__bar:nth-child(2) {
    top: 24px;
  }
  .hamburger-menu__bar:last-child {
    top: 32px;
  }
  .hamburger-menu--open .hamburger-menu__bar {
    top: 50%;
  }
  .hamburger-menu--open .hamburger-menu__bar:first-child {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .hamburger-menu--open .hamburger-menu__bar:last-child {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
  .hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
    display: none;
  }
  .navigation {
    display: none;
    background: goldenrod;
    position: absolute;
    top: 50px;
    right: 0;
    width: 25%;
    z-index: 9999;
  }
  .navigation__list {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .navigation__list-item {
    border-bottom: solid 1px #ffd700;
  }
  .navigation__list-item:first-child {
    border-top: solid 1px #ffd700;
  }
  .navigation__link {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    display: block;
    padding: 24px 0;
    transition: .5s;
  }
  @media (hover: hover) and (pointer: fine) {
    .navigation__link:hover {
      color: goldenrod;
      background: #ffffcc;
    }
    .navigation__list-item:hover {
        border-bottom: solid 2px #ffd700;
    }
    .navigation__list-item:first-child:hover {
        border-top: solid 2px #ffd700;
    }
  }

/* bodyここから */
section{
    z-index: 1;
}
.mainvisual_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:50px;
    overflow: hidden;
}
.mainvisual_img{
    width: 100%;
    height: auto;
    animation: animationZoom 10s ease-in-out infinite;
}
@keyframes animationZoom {
    50%{ transform: scale(1.1)}
}

.mainvisual_text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    line-height: 2;
    color:#fff;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

@media (min-width: 700px){
    .mainvisual_text{
        font-size: 24px;
    }
}
.mv_text1{
    font-weight: bolder;
    background-color: #ffd700;
    opacity: 0.7;
}

/* ABOUTのセクション */
.about{
    position: relative;
    top:50px;
    margin-top: 60px;
    margin-bottom: 80px;
    text-align: center;
    line-height: 2;
    font-size: 16px;
}

.about div{
    margin-top: 40px;
}

.about_title{
    font-weight: bolder;
    color:#ffd700;
    font-size: 24px;
}
.about_subTitle{
    font-size: 18px;
}
@media screen and (max-width:680px){
    .about_text2,.about_text3,.about_text4{
        word-break: keep-all;
        overflow-wrap: break-word;
    }
}

/* カルーセルの外枠 */
.carousel{
    width: 385px;
    height:255px;
    display: flex;
    overflow: hidden;
    margin: 0 auto; 
}

/* カルーセル内の画像 */
.carousel img{
    margin: 0;
    padding: 0;
    display:block;
}

/* スクロールアニメーション */
@keyframes scroll{
    0% {margin-left: 0;}
    20% {margin-left: -100%;}
    45% {margin-left: -200%;}
    50% {margin-left: -200%;}
    70% {margin-left: -300%;}
    75% {margin-left: -300%;}
    95% {margin-left: -400%;}
    100% {margin-left: -400%;}
}
.carousel > :first-child{
    animation-name: scroll;
    animation-duration: 20s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

/* COURSEのセクション */
.course{
    position: relative;
    top:50px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    line-height: 2;
}
.course div{
    margin-top: 40px;
}

.course_title{
    font-weight: bolder;
    color:#ffd700;
    font-size: 24px;
}
.course_subTitle{
    font-size: 18px;
}
@media screen and (max-width:680px){
    .course_subTitle{
        word-break: keep-all;
        overflow-wrap: break-word;
    }
}